*.ini
*.exe
*.mp4
*.zip
*.cmp
*.manifest
*.txt
*.c
*.cbp
*.layout
*.Cache
*.resources
*.pdb
*.user
*.userprefs
*.cs
*.sql
*.html
*.java
*.xml
*.uvopt
*.datasource
*.bak
*.form
*.properties
*.Admin
*.uvproj
*.dll
.cproject
.project
.d
.mk
*makefile
*.lex
*.lxr
*.htm
*books(2)
*.loaded_0
*.js
*.css
